/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

* {
	outline: none !important;
}

body {
	min-width: 320px;
}
