/* ------------------------------------------------------------ *\
	Breadcrumps
\* ------------------------------------------------------------ */

.breadcrumps {
	padding: 25px 0 15px;

	ul {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-weight: 500;
	}

	li + li {
		position: relative;
		margin-left: 57px;

		&:before {
			content: '';
			position: absolute;
			left: -32px;
			top: 6px;
			width: 7px;
			height: 4px;
			transform: rotate(-90deg);
			background-image: url(../images/ico-chevron.svg);
			background-position: center center;
			background-repeat: no-repeat;
		}
	}

	a {
		color: $color-grey-medium;
	}
}
