/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	background-color: $color-black;
	color: $color-white;
	font-weight: 600;
	text-transform: uppercase;
	height: 50px;
	line-height: 50px;
	border-radius: 0;
	padding: 0 36px;
	transition: background-color .3s;

	img {
		width: 20px;
		height: auto;
		margin-right: 15px;
	}

	&:hover {
		background-color: $color-purple;
		color: $color-white;
	}

	&--large {
		width: 257px;
		height: 62px;
		line-height: 62px;
	}

	&--large-inverse {
		width: 257px;
		height: 62px;
		line-height: 58px;
		background-color: $color-white;
		color: $color-black;
		border: 2px solid $color-black;
	}

	&--block {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}

	&--product {
		display: flex;
		height: 60px;
		line-height: 60px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
	}

	&--inverse {
		height: 46px;
		line-height: 42px;
		padding: 0 12px;
		background-color: $color-white;
		color: $color-black;
		border: 2px solid $color-black;
		font-weight: 700;
	}
}

/* ------------------------------------------------------------ *\
	Btn Large
\* ------------------------------------------------------------ */

.btn-large {
	width: calc(50% - 7px);
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	height: 62px;
	line-height: 60px;
	border-radius: 0;
	padding: 0 10px;
	background-color: $color-white;
	color: $color-black;
	transition: background-color .3s;
	border: 2px solid $color-black;
	font-weight: 500;

	&:hover {
		color: $color-black;
		text-decoration: none;
	}

	&:after {
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 110;
		display: block;
		background-color: rgba(0,0,0, .7);
		visibility: hidden;
		opacity: 0;
		transition: opacity .3s, visibility .3s;
	}

	&--block {
		width: 100%;
		display: block;
		padding: 0 10px;
		text-align: center;
		font-weight: 600;
	}

	&.active {
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

/* ------------------------------------------------------------ *\
	Btn Green
\* ------------------------------------------------------------ */

.btn-green {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	background-color: $color-green;
	color: $color-white;
	font-weight: 600;
	text-transform: uppercase;
	height: 78px;
	line-height: 78px;
	border-radius: 0;
	padding: 0 36px;
	width: 100%;
	font-weight: 600;
	font-size: 1rem;
	transition: background-color .3s;

	@media #{$tablet-portrait} {
		height: 58px;
		line-height: 58px;
	}

	img {
		width: 20px;
		height: auto;
		margin-right: 10px;
	}

	&:hover {
		background-color: $color-purple;
		color: $color-white;
		text-decoration: none;
	}
}

/* ------------------------------------------------------------ *\
	Btn Menu
\* ------------------------------------------------------------ */

.btn-menu {
	display: block;
	width: 14px;
	margin-bottom: 1px;
	height: 9px;

	span {
		display: block;
		height: 1px;
		border-radius: 2px;
		background-color: $color-black;

		& + span {
			margin-top: 3px;
		}
	}
}

@media #{$tablet-portrait} {
	.btn-menu {
		margin-top: 8px;
		width: 22px;
		height: 20px;
		transition: opacity .3s;

		span {
			height: 2px;

			& + span {
				margin-top: 6px;
			}
		}

		&.disabled {
			opacity: .2;
		}
	}
}
