/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

.dropdown {
	position: absolute;
	left: 0;
	z-index: 10;
	top: 100%;
	width: 100%;
	height: 200vh;
	text-transform: none;
	overflow: hidden;
	visibility: hidden;

	.dropdown__inner {
		position: relative;
		max-height: 100%;
		overflow: auto;
		z-index: 10;
		padding: 37px 0 40px;
		background-color: $color-white;
		border-radius: 0 0 7px 7px;
		border: 1px solid $color-grey-lighter;
		transform: translateY(-100%);
		visibility: hidden;
		transition: transform .5s, opacity .5s, visibility .5s;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		display: block;
		height: 1000vh;
		background-color: $color-black;
		opacity: 0;
		pointer-events: none;
		visibility: hidden;
		transition: opacity .5s, visibility .5s;
	}

	.dropdown__title {
		margin-bottom: 28px;
		font-weight: 600;
		font-size: 1.25rem;
	}

	.dropdown__nav {
		ul {
			display: block;
		}

		li + li {
			margin: 23px 0 0;
		}

		a {
			height: 24px;
			line-height: 24px;

			&:after {
				left: 0;
				right: 0;
				height: 2px;
			}
		}
	}

	.dropdown__head {
		margin-bottom: 30px;
	}

	.dropdown__body {
		padding: 0 0 36px;
	}

	.dropdown__foot {
		position: relative;
		margin-left: -25px;
		margin-right: -25px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			display: block;
			height: 1px;
			background-color: $color-grey-lighter;
		}
	}

	.dropdown__subtitle {
		margin-bottom: 5px;
		font-size: 0.75rem;
		font-weight: 700;
	}

	.dropdown__list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		img {
			margin-right: 12px;
			max-width: 22px;
			max-height: 22px;
		}

		li + li {
			margin-top: 30px;
		}

		a {
			color: $color-black;
			transition: color .3s;

			&:hover {
				text-decoration: none;
				color: $color-purple;
			}
		}
	}

	.dropdown__link {
		display: block;
		text-align: center;
		height: 82px;
		line-height: 82px;
		text-transform: uppercase;
		color: $color-black;
		font-size: 0.75rem;
		font-weight: 700;
		border-radius: 0 0 7px 7px;
		transition: color .3s, background-color .3s;

		&:hover {
			background-color: $color-grey-lighter;
			text-decoration: none;
			color: $color-purple;
		}
	}

	&--utilities {
		overflow: visible;

		.dropdown__title {
			margin-bottom: 0;
			font-size: 1.38rem;
			font-weight: 400;
		}

		.container {
			text-align: right;
		}

		.dropdown__inner {
			display: inline-block;
			width: 260px;
			padding: 40px 25px 0;
			margin-top: -55px;
			border-radius: 7px;
			opacity: 0;
			text-align: left;
			border-color: $color-grey;
			transform: translateY(10%);
			transition: transform .3s, opacity .3s, visibility .3s;

			&:before {
				content: '';
				position: absolute;
				bottom: 100%;
				left: 0;
				right: 0;
				z-index: 5;
				display: block;
				height: 24px;
				background-color: transparent;
			}
		}
	}

	&--cart {
		.dropdown__inner {
			width: 462px;
			padding: 35px 22px 0;
		}

		.dropdown__table {
			table {
				width: 100%;
			}

			th {
				padding-bottom: 18px;
			}

			td {
				padding-bottom: 25px;
			}

			.dropdown__table-product {
				display: flex;
				align-items: center;

				a {
					color: inherit;
					text-decoration: none;
				}
			}

			.dropdown__table-actions {
				a {
					transition: opacity .3s;

					&:hover {
						opacity: 0.6;
					}
				}
			}

			.dropdown__table-entry {
				margin: 0 0 0 13px;
				font-size: 1.03rem;
				font-weight: 500;
				line-height: 1.72em;
			}

			.dropdown__table-price {
				font-weight: 700;
				min-width: 100px;
				margin: 0;
			}
		}

		.dropdown__foot {
			display: flex;
			margin: 5px 0 0;
			padding: 27px 0;
			justify-content: space-between;
			align-items: center;
		}

		.dropdown__price {
			margin: 0;
			font-size: 1.75rem;
			color: $color-purple;
			font-weight: 700;
		}
	}
}

@media #{$tablet-portrait} {
	.dropdown {
		top: auto;
		bottom: 100%;
		height: calc(100vh - 52px);
		overflow: hidden;

		&:after {
			height: calc(100vh - 52px);
			pointer-events: auto;
		}

		.container {
			padding: 0;
			height: 100%;
		}

		.dropdown__inner {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			border: 0;
			border-bottom: 1px solid $color-grey-lighter;
			border-radius: 0;
			transform: translateY(100%);
			opacity: 1;
		}

		.dropdown__foot {
			position: static;

			&:before {
				display: none;
			}
		}

		.dropdown__link {
			position: absolute;
			top: 40px;
			right: 20px;
			display: inline-block;
			height: auto;
			font-size: 0.88rem;
			line-height: 1.3em;
			font-weight: 700;
			border-radius: 0;
			transition: color .3s;

			&:hover {
				background-color: transparent;
			}
		}

		&--utilities {
			.dropdown__inner {
				display: block;
				width: 100%;
				margin-top: 0;
			}
		}

		&--nav {
			position: absolute;
			top: 0;
			bottom: auto;
			height: 100%;

			a {
				font-size: 0.88rem;
				font-weight: 500;
			}

			.dropdown__title {
				font-weight: 500;

				strong {
					font-weight: 600;
				}
			}

			&:after {
				display: none;
			}

			.dropdown__actions {
				padding-top: 20px;

				a {
					text-transform: uppercase;
					font-weight: 700;
				}
			}

			.dropdown__inner {
				bottom: auto;
				top: 0;
				height: 100%;
				border-bottom: 0;
				transform: translateX(-100%);
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Has Dropdown
\* ------------------------------------------------------------ */

@media(min-width: 1024px){
	.has-dropdown:hover {
		visibility: visible;

		.dropdown {
			&:after {
				opacity: .8;
				visibility: visible;
			}

			.dropdown__inner {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

@media #{$tablet-portrait} {
	.has-dropdown.active {
		visibility: visible;

		.dropdown {
			&:after {
				opacity: .8;
				visibility: visible;
			}

			.dropdown__inner {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
