/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	padding: 30px 0 0;
	border-top: 1px solid $color-grey-lighter;
	color: $color-grey-dark;
	font-weight: 500;

	@media #{$tablet-portrait} {
		border-top: 0;
		padding-bottom: 70px;
	}

	strong {
		color: $color-black;
		transition: color .3s;
	}

	a {
		color: inherit;
		transition: color .3s;

		&:hover {
			color: $color-purple;
			text-decoration: none;

			strong {
				color: $color-purple;
			}
		}

	}

	.footer__body {
		padding-bottom: 24px;
	}

	.footer__bottom {
		padding: 25px 0;
		border-top: 1px solid $color-grey-lighter;

		@media #{$tablet-portrait} {
			border: 0;
		}

		.container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			@media #{$tablet-portrait} {
				text-align: center;
				flex-direction: column;
			}
		}

		.footer__content {
			width: calc(100% - 170px);
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			@media #{$tablet-portrait} {
				flex-direction: column;
				width: 100%;
			}
		}

		.footer__aside {
			width: 170px;
			font-size: 0.8rem;
			font-weight: 600;

			img {
				display: inline-block;
				margin-left: 22px;
			}
		}

		.footer__entry {
			padding: 0 20px 0 55px;
			width: calc(100% - 120px);
			font-size: 0.75rem;
			line-height: 1.7;

			@media #{$tablet-portrait} {
				padding: 0 20px;
				width: 100%;
				margin-bottom: 40px;
			}
		}
	}

	.footer__title {
		margin-bottom: 22px;
		font-size: 0.88rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $color-black;
	}

	.footer__navs {
		margin-bottom: 50px;
	}

	.footer__icon {
		position: absolute;
		right: 0;
		top: 0;
		transition: transform .3s;

		&.active {
			transform: rotate(180deg);
		}
	}

	.footer__nav {
		.footer__title {
			@media #{$tablet-portrait} {
				position: relative;
				height: 52px;
				line-height: 52px;
				margin: 0;
				cursor: pointer;

				&:before {
					content: '';
					position: absolute;
					left: -20px;
					right: -20px;
					top: -1px;
					height: 1px;
					background-color: $color-grey-lighter;
				}

				&:after {
					content: '';
					position: absolute;
					left: -20px;
					right: -20px;
					bottom: 0;
					height: 1px;
					background-color: $color-grey-lighter;
				}
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			@media #{$tablet-portrait} {
				display: none;
				padding: 25px 0 30px;
			}
		}

		li + li {
			margin-top: 20px;
		}

		i {
			display: inline-block;
			margin-right: 5px;
		}
	}

	.footer__logos {
		ul {
			display: flex;
			flex-wrap: wrap;
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		li + li {
			margin-left: 5px;
		}

		li {
			@media #{$tablet-portrait} {
				margin: 0 3px 6px !important;
			}
		}

		@media #{$tablet-portrait} {
			margin-bottom: 30px;
		}
	}
}
