/* ------------------------------------------------------------ *\
	Form Elements
\* ------------------------------------------------------------ */

input::placeholder {
	color: inherit;
	opacity: 1;
}

textarea::placeholder {
	color: inherit;
	opacity: 1;
}

input:-webkit-autofill {
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.field {
	width: 100%;
	height: 46px;
	padding: 0 10px;
	border: 1px solid $color-grey-light;
	border-radius: 0;

	&--large {
		height: 60px;
	}
}

.textarea {
}

.select {
	position: relative;

	select {
		width: 256px;
		height: 62px;
		padding: 0 10px;
		border: 1px solid $color-grey-light;
		appearance: none;
		border-radius: 0;

		@media #{$tablet-portrait} {
			width: 100%;
			border: 2px solid $color-black;
			color: $color-black;
			font-weight: 500;
		}
	}

	.select__chevron {
		pointer-events: none;
		position: absolute;
		top: 22px;
		right: 11px;

		&--rotate {
			transform: rotate(-90deg);
		}
	}

	&--small {
		display: inline-block;

		select {
			width: 170px;
			height: 42px;

		}

		.select__chevron {
			top: 12px;
			right: 18px;
		}
	}
}

.radio {
	span {
		display: block;
		width: 37px;
		height: 37px;
		line-height: 33px;
		text-align: center;
		border: 2px solid $color-black;
		font-weight: 700;
		text-transform: uppercase;
		transition: background-color .3s, border, .3s, color .3s;

		&:hover {
			background-color: $color-grey-light;
			cursor: pointer;
		}
	}

	&--large {
		span {
			width: 57px;
			height: 42px;
			line-height: 38px;
		}
	}

	input {
		position: absolute;
		visibility: hidden;

		&:checked + span {
			background-color: $color-black;
			color: $color-white;
		}
	}
}

.radio-list {
	label {
		position: relative;
		padding-left: 30px;
		margin-bottom: 0;
		transition: color .3s;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 18px;
			height: 18px;
			border: 2px solid $color-grey-medium;
			border-radius: 9px;
			transition: border-color .3s;
		}

		&:after {
			content: '';
			position: absolute;
			left: 4px;
			top: 4px;
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: $color-black;
			opacity: 0;
			transform: scale(0, 0);
			transition: opacity .3s, transform .3s;
		}
	}

	input {
		position: absolute;
		visibility: hidden;

		&:checked + label {
			color: $color-black;

			&:before {
				border-color: $color-black;
			}

			&:after {
				opacity: 1;
				transform: scale(1, 1);
			}
		}
	}
}
