/* ------------------------------------------------------------ *\
	Gallery
\* ------------------------------------------------------------ */

.gallery {
	padding: 48px 0 0;
	display: flex;
	flex-wrap: wrap;

	.gallery__image {
		img {
			width: 100%;
			height: auto;
		}
	}

	.gallery__content {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		padding: 22px 26px;
		background-color: rgba(0,0,0, .7);
		color: $color-white;
		opacity: 0;
		transition: opacity .3s;
	}

	.gallery__title {
		display: inline-block;
		font-size: 3rem;
		font-weight: 300;
		padding-bottom: 10px;
		border-bottom: 2px solid $color-purple;
	}

	.gallery__entry {
		position: absolute;
		bottom: 7px;
		right: 25px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.gallery__link {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		display: block;
	}

	.gallery__item {
		position: relative;
		width: 33.33%;

		&:hover {
			.gallery__content {
				opacity: 1;
			}
		}
	}

	@media #{$tablet-portrait} {
		padding: 5px 0 0;
		margin: 0 -5px;

		&--alt {
			padding: 5px 18px 0;
		}

		.gallery__item {
			width: calc(50% - 10px);
			border-radius: 5px;
			overflow: hidden;
			margin: 0 5px 10px;

			&--largest {
				order: 2;
				width: 100%;

				.gallery__image {
					height: 274px;

					img {
						width: 100% !important;
						height: auto !important;
					}
				}

				.gallery__content {
					background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 46%,rgba(0,0,0,0.65) 100%);
				}

				.gallery__title {
					width: 50%;
				}
			}

			&--large {
				order: 3;
				width: 100%;

				.gallery__image {
					height: 159px;

					img {
						width: 100% !important;
						height: auto !important;
					}
				}

				.gallery__title {
					width: 50%;
				}
			}
		}

		.gallery__image {
			position: relative;
			height: 229px;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: auto;
				transform: translate(-50%, -50%);
			}
		}

		.gallery__content {
			display: flex;
			align-items: flex-end;
			padding: 22px 26px 15px 10px;
			opacity: 1;
			background-color: transparent;
		}

		.gallery__title {
			display: block;
			width: 100%;
			padding-bottom: 7px;
			font-size: 1.25rem;
			font-weight: 700;
		}
	}

	@media (max-width: 500px) {
		.gallery__image {
			img {
				height: 100%;
				width: auto;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Gallery Small
\* ------------------------------------------------------------ */

.gallery-small {
	@media #{$tablet-portrait} {
		margin: 0 -7px;
	}
	.slider__slide-inner {
		margin: 0 -7px;
		display: flex;
		flex-wrap: wrap;
	}

	.slider__slide-image {
		width: 25%;
		padding: 0 7px;

		@media #{$tablet-portrait} {
			width: 50%;
			margin-bottom: 14px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
	.slick-arrow {
		position: absolute;
		top: -83px;
		right: 67px;
		z-index: 1;
		width: 41px;
		height: 41px;
		border: 2px solid $color-black;
		background-color: $color-white;
		font-size: 0;
		transition: background-color .3s, border-color .3s;

		&:hover {
			background-color: $color-grey-light;
			border-color: $color-grey-light;
			cursor: pointer;
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 6px;
			height: 12px;
			background-image: url(../images/ico-chevron-black.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	.slick-next {
		left: auto;
		right: 7px;

		&:after {
			transform: translate(-50%, -50%) scale(-1, 1);
		}
	}

	.slider__slide {
		padding: 0 7px;

		img {
			width: 100%;
		}
	}

	.slick-dots {
		position: absolute;
		top: -58px;
		right: 7px;
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			cursor: pointer;
			height: 8px;
			width: 8px;
			border-radius: 4px;
			background-color: $color-black;

			& + li {
				margin-left: 13px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 2px;
				right: 2px;
				bottom: 2px;
				top: 2px;
				border-radius: 4px;
				display: block;
				background-color: $color-white;
				opacity: 0;
				transition: opacity .3s;
			}

			&:hover {
				&:after {
					opacity: .5;
				}
			}

			&.slick-active {
				&:after {
					opacity: 1;
				}
			}
		}

		button {
			display: none;
		}
	}
}

/* ------------------------------------------------------------ *\
	Gallery Product
\* ------------------------------------------------------------ */

.gallery-product {
	display: flex;

	.gallery__slider {
		width: 65px;

		@media #{$tablet-portrait} {
			width: 100%;
		}
	}

	.gallery__images {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media #{$tablet-portrait} {
			display: block;
		}
	}

	.gallery__image-large {
		margin-left: 7px;
		width: calc(100% - 72px);
		border: 1px solid $color-grey-light-product;

		img {
			width: 100%;
		}
	}

	.gallery__image {
		transition: opacity .3s;
		border: 1px solid $color-grey-light-product;
		opacity: .39;

		&:hover {
			opacity: .6;
		}

		&.active {
			opacity: 1;
		}

		img {
			width: 100%;
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 35px;
		left: 50%;
		display: flex;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			cursor: pointer;
			height: 12px;
			width: 12px;
			border-radius: 6px;
			background-color: rgba(0,0,0, .42);

			& + li {
				margin-left: 10px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 2px;
				right: 2px;
				bottom: 2px;
				top: 2px;
				border-radius: 4px;
				display: block;
				background-color: $color-white;
				opacity: 0;
				transition: opacity .3s;
			}

			&:hover {
				&:after {
					opacity: .4;
				}
			}

			&.slick-active {
				&:after {
					opacity: .8;
				}
			}
		}

		button {
			display: none;
		}
	}
}
