/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: relative;

	.header__top {
		> .container {
			display: flex;
			height: 80px;
			justify-content: space-between;
			align-items: center;
		}
	}

	.header__bottom {
		height: 52px;
		border: 1px solid $color-grey;

		> .container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

@media #{$tablet-portrait} {
	.header {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 100;
		display: flex;
		padding: 10px 0;
		border-top: 1px solid $color-grey-lighter;
		flex-direction: row-reverse;
		justify-content: center;
		background-color: $color-white;

		.logo {
			display: none;
		}

		.header__top {
			> .container {
				height: auto;
			}
		}

		.header__bottom {
			border: 0;
			height: auto;
		}
	}
}

/* ------------------------------------------------------------ *\
	Header Mobile
\* ------------------------------------------------------------ */

.header-mobile {
	display: none;
	padding: 18px 0;
	text-align: center;
}

@media #{$tablet-portrait} {
	.header-mobile {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 30;
		display: block;
		background-color: $color-white;
	}
}
