/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro {
	@media #{$tablet-portrait} {
		padding: 0 18px;
		margin-top: 77px;
	}

	.intro__image {
		img {
			width: 100%;
			height: auto;
		}

		@media #{$tablet-portrait} {
			position: relative;
			height: 274px;
			border-radius: 5px;
			overflow: hidden;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				max-height: 100%;
				width: auto;
				transform: translate(-50%, -50%);
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		z-index: 3;
		left: 73px;
		transform: translateY(-50%);
		border: 0;
		background-color: $color-purple;
		font-size: 0;
		color: transparent;
		width: 29px;
		height: 46px;
		transition: background-color .3s;

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(-1, 1);
			display: block;
			width: 11px;
			height: 20px;
			background-image: url(../images/ico-chevron-white.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}

		&:hover {
			cursor: pointer;
			background-color: $color-black;
		}
	}

	.slick-next {
		left: auto;
		right: 73px;

		&:after {
			transform: translate(-50%, -50%) scale(1, 1);
		}
	}

	.slick-dots {
		position: absolute;
		bottom: 35px;
		left: 50%;
		display: flex;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			cursor: pointer;
			height: 12px;
			width: 12px;
			border-radius: 6px;
			background-color: rgba(0,0,0, .42);

			& + li {
				margin-left: 10px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 2px;
				right: 2px;
				bottom: 2px;
				top: 2px;
				border-radius: 4px;
				display: block;
				background-color: $color-white;
				opacity: 0;
				transition: opacity .3s;
			}

			&:hover {
				&:after {
					opacity: .4;
				}
			}

			&.slick-active {
				&:after {
					opacity: .8;
				}
			}
		}

		button {
			display: none;
		}
	}
}
