/* ------------------------------------------------------------ *\
	Logos
\* ------------------------------------------------------------ */

.logos {
	margin: 0 -7px;

	@media #{$tablet-portrait} {
		padding-top: 53px;
	}

	.logos__image {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		width: 189px;
		height: 174px;
		border: 1px solid $color-grey-lightest;

		@media #{$tablet-portrait} {
			margin: 0 5px;
			width: 145px;
			height: 133px;

			img {
				transform: scale(0.8, 0.8);
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		left: -12px;
		z-index: 1;
		transform: translateY(-50%);
		width: 41px;
		height: 41px;
		border: 2px solid $color-black;
		background-color: $color-white;
		font-size: 0;
		transition: background-color .3s, border-color .3s;

		@media #{$small-desktop} {
			left: 15px;
		}

		&:hover {
			background-color: $color-grey-light;
			border-color: $color-grey-light;
			cursor: pointer;
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 6px;
			height: 12px;
			background-image: url(../images/ico-chevron-black.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	.slick-next {
		left: auto;
		right: -16px;

		@media #{$small-desktop} {
			right: 15px;
		}

		&:after {
			transform: translate(-50%, -50%) scale(-1, 1);
		}
	}

	.slick-dots {
		position: absolute;
		top: -45px;
		left: 50%;
		display: flex;
		transform: translateX(-50%);
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			cursor: pointer;
			height: 8px;
			width: 8px;
			border-radius: 4px;
			background-color: $color-black;

			& + li {
				margin-left: 13px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 2px;
				right: 2px;
				bottom: 2px;
				top: 2px;
				border-radius: 4px;
				display: block;
				background-color: $color-white;
				opacity: 0;
				transition: opacity .3s;
			}

			&:hover {
				&:after {
					opacity: .5;
				}
			}

			&.slick-active {
				&:after {
					opacity: 1;
				}
			}
		}

		button {
			display: none;
		}
	}
}
