/* ------------------------------------------------------------ *\
	Main
\* ------------------------------------------------------------ */

.main {
	padding-bottom: 46px;

	&--inner {
		@media #{$tablet-portrait} {
			padding-top: 50px;
		}
	}
}
