/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav {
	width: calc(100% - 28px);
	text-transform: uppercase;
	font-weight: 600;

	ul {
		display: flex;
		width: 100%;
		justify-content: space-between;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}


	li {
		& + li {
			margin-left: 10px;
		}

		a {
			position: relative;
			display: inline-block;
			line-height: 52px;
			height: 52px;
			color: $color-black;

			&:after {
				content: '';
				position: absolute;
				left: -25px;
				right: -25px;
				bottom: 2px;
				display: block;
				height: 3px;
				background-color: $color-black;
				transform-origin: 0 100%;
				transform: scale(1, 0);
				transition: transform .3s;
			}

		}

		@media(min-width: 1024px){
			&:hover > a {
				text-decoration: none;

				&:after {
					transform: scale(1, 1);
				}
			}
		}
	}

	&-utilities {
		> ul {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;

			> li {
				& + li {
					margin-left: 20px;
				}

				> a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					transition: background-color .3s;
				}

				@media(min-width: 1024px){
					&:hover {
						> a {
							background-color: $color-grey-lighter;
						}
					}
				}
			}
		}
	}
}

@media #{$tablet-portrait} {
	.nav {
		position: fixed;
		visibility: hidden;
		top: 77px;
		right: 0;
		left: 0;
		z-index: 20;
		bottom: 52px;
		padding: 20px;
		pointer-events: none;
		background-color: transparent;
		width: 100%;
		border-bottom: 1px solid $color-grey-lighter;
		transition: background-color .3s, visibility .3s;

		ul {
			transform: translateX(-100%);
			display: block;
			transition: transform .3s;
		}

		&.active {
			visibility: visible;
			pointer-events: auto;
			background-color: $color-white;

			ul {
				transform: translateX(0);
			}
		}

		li + li {
			margin: 10px 0 0;
		}

		a {
			font-size: 1.25rem;
			text-transform: none;
		}

		&-utilities {
			margin-left: 30px;

			> ul {
				> li {
					& + li {
						margin-left: 54px;
					}

					> a {
						transition: opacity .3s;
					}
				}

				> .disabled {
					> a {
						opacity: 0.2;
					}
				}
			}
		}
	}
}
