/* ------------------------------------------------------------ *\
	Products
\* ------------------------------------------------------------ */

.products {
	margin: 0 -7px;

	.slick-arrow {
		position: absolute;
		top: 130px;
		left: -12px;
		z-index: 1;
		width: 41px;
		height: 41px;
		border: 2px solid $color-black;
		background-color: $color-white;
		font-size: 0;
		transition: background-color .3s, border-color .3s;

		@media #{$small-desktop} {
			left: 15px;
		}


		&:hover {
			background-color: $color-grey-light;
			border-color: $color-grey-light;
			cursor: pointer;
		}

		&:after {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 6px;
			height: 12px;
			background-image: url(../images/ico-chevron-black.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	.slick-next {
		left: auto;
		right: -16px;

		@media #{$small-desktop} {
			right: 15px;
		}

		&:after {
			transform: translate(-50%, -50%) scale(-1, 1);
		}
	}

	&--flex {
		display: flex;
		flex-wrap: wrap;

		.product {
			width: calc(33.33% - 14px);

			@media #{$tablet-portrait} {
				width: calc(50% - 14px);
			}
		}
	}

	.slick-dots {
		position: absolute;
		top: -58px;
		right: 7px;
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			position: relative;
			cursor: pointer;
			height: 8px;
			width: 8px;
			border-radius: 4px;
			background-color: $color-black;

			& + li {
				margin-left: 13px;
			}

			&:after {
				content: '';
				position: absolute;
				left: 2px;
				right: 2px;
				bottom: 2px;
				top: 2px;
				border-radius: 4px;
				display: block;
				background-color: $color-white;
				opacity: 0;
				transition: opacity .3s;
			}

			&:hover {
				&:after {
					opacity: .5;
				}
			}

			&.slick-active {
				&:after {
					opacity: 1;
				}
			}
		}

		button {
			display: none;
		}
	}
}

/* ------------------------------------------------------------ *\
	Product
\* ------------------------------------------------------------ */

.product {
	margin: 0 7px;
	border-radius: 5px;
	transition: box-shadow .3s;
	background-color: $color-white;
	transform: translateZ(0);

	.product__image {
		display: block;
		margin-bottom: 26px;

		@media #{$tablet-portrait} {
			margin-bottom: 18px;
		}


		img {
			width: 100%;
			height: auto;
		}
	}

	.product__body {
		padding: 0 13px 10px;

		@media #{$tablet-portrait} {
			padding: 0 0 10px;
		}
	}

	.product__entry {
		max-width: 200px;
		margin: 0 auto 13px;
		line-height: 1.95;
		text-align: center;
		font-weight: 500;
	}

	.product__price {
		margin: 0 0 5px;
		padding: 15px 0 0;
		font-weight: 700;
		text-align: center;
		border-top: 1px solid $color-grey-light-product;

		@media #{$tablet-portrait} {
			font-size: 1.5rem;
		}

		span {
			color: $color-purple;
		}
	}

	.product__subprice {
		font-size: 0.75rem;
		font-weight: 500;
		text-align: center;
		color: $color-grey-dark;
	}

	.product__actions {
		display: none;
		padding: 15px 0 0;

		@media #{$tablet-portrait} {
			display: none !important;
		}

	}

	.product__text {
		margin-bottom: 18px;
		text-align: center;
	}

	.product__checkboxes {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0 0 14px;
		list-style-type: none;
	}

	&:hover {
		box-shadow: 1px 1px 18px rgba(0,0,0, .16);

		@media #{$tablet-portrait} {
			box-shadow: none;
		}
	}

	&--popup {
		position: absolute;
		z-index: 20;
		display: none;
	}
}

/* ------------------------------------------------------------ *\
	Product Large
\* ------------------------------------------------------------ */

.product-large {
	margin: -4px 0 0 16px;

	@media #{$tablet-portrait} {
		padding-top: 13px;
		margin: -4px 0 0 0;
	}

	.row {
		margin-bottom: 10px;
	}

	.product__head {
		margin-bottom: 30px;
		border-bottom: 1px solid $color-grey-lighter;
	}

	.product__title {
		margin-bottom: 10px;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.85;

		@media #{$tablet-portrait} {
			font-size: 1rem;
			line-height: 2.3;
		}

		&-small {
			margin-bottom: 15px;
			font-size: 0.88rem;
			font-weight: 500;
		}

		&-smaller {
			margin-bottom: 10px;
			font-size: 0.75rem;
			color: $color-grey-dark;

			@media #{$tablet-portrait} {
				margin-top: 5px;
			}
		}
	}

	.product__subtitle {
		font-weight: 600;
		color: $color-grey-medium;

		a {
			display: inline-block;
			margin-left: 6px;
			text-decoration: underline;
			color: $color-blue;
		}
	}

	.product__checkboxes {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0 0 14px;
		list-style-type: none;

		@media #{$tablet-portrait} {
			justify-content: flex-start;

			li + li {
				margin-left: 10px;
			}
		}
	}

	.product__price {
		font-weight: 700;

		span {
			color: $color-purple;
		}
	}

	.product__subprice {
		font-size: 0.75rem;
		font-weight: 500;
		color: $color-grey-dark;
	}
}
