/* ------------------------------------------------------------ *\
	Range
\* ------------------------------------------------------------ */

.range {
	form {
		display: flex;
		margin: 0 -4px;

		> * {
			margin: 0 4px;
		}
	}
}
