/* ------------------------------------------------------------ *\
	ratings
\* ------------------------------------------------------------ */

.ratings {
	.ratings__title {
		font-size: 0.88rem;
		font-weight: 600;
		margin-bottom: 28px;
	}

	.ratings__bar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 10px;
	}

	.ratings__bar-aside {
		width: 106px;
	}

	.ratings__bar-content {
		width: calc(100% - 106px);
		padding: 0 62px 0 35px;

		@media #{$tablet-portrait} {
			padding: 0 0 0 35px;
		}
	}

	.ratings__radios {
		display: flex;
		padding: 38px 0 0;
		list-style-type: none;
		margin: 0;
		text-transform: uppercase;

		li + li {
			margin-left: 37px;
		}

		@media #{$tablet-portrait} {
			display: block;

			li + li {
				margin: 24px 0 0;
			}
		}
	}

	.ratings__flex {
		display: flex;
		flex-direction: column;
	}

	.ratings__actions {
		position: absolute;
		bottom: 10px;
		left: 15px;

		@media #{$tablet-portrait} {
			position: relative;
			padding-top: 48px;
			bottom: auto;
			left: auto;
		}
	}

	.ratings__bottom {
		padding-top: 40px;

		@media #{$tablet-portrait} {
			padding-top: 30px;
		}
	}
}

/* ------------------------------------------------------------ *\
	Rating
\* ------------------------------------------------------------ */

.rating {
	i {
		display: inline-block;
		margin-right: 2px;
	}

	&--large {
		i {
			margin-right: 6px;
		}
	}
}
