/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search {
	position: relative;
	padding-top: 14px;
	max-width: 609px;
	width: calc(100% - 240px);

	@media #{$tablet-portrait} {
		margin-top: -10px;
		padding: 0 0 20px;
		width: 100%;
		max-width: 100%;
	}

	.search__field {
		border: 0;
		padding: 0 40px 15px 0;
		border-radius: 0;
		background-color: transparent;
		border-bottom: 1px solid $color-grey-lighter;
		width: 100%;
		outline: none !important;
		transition: color .3s, border-color .3s;

		&::placeholder {
			color: $color-grey-light;
		}

		&:focus {
			border-color: $color-grey;
		}
	}

	.search__btn {
		position: absolute;
		top: 0;
		height: 100%;
		right: 0;
		background-color: transparent;
		border: 0;

		&:hover {
			cursor: pointer;
			animation: shake .9s cubic-bezier(.36,.07,.19,.97) both;
		}

		@media #{$tablet-portrait} {
			height: auto;
			opacity: 0.2;
		}
	}
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(0, 0, 0);
	}

	20%, 80% {
		transform: translate3d(1px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-2px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(2px, 0, 0);
	}
}

/* ------------------------------------------------------------ *\
	Search Small
\* ------------------------------------------------------------ */

.search-small {
	position: relative;
	margin-bottom: 16px;

	.search__btn {
		position: absolute;
		top: 0;
		height: 100%;
		right: 8px;
		background-color: transparent;
		border: 0;

		&:hover {
			cursor: pointer;
			animation: shake .9s cubic-bezier(.36,.07,.19,.97) both;
		}
	}
}
