/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section {
	padding: 28px 0;

	.section__head {
		display: flex;
		padding: 30px 0 25px;
		justify-content: space-between;
		align-items: flex-end;
		border-bottom: 1px solid $color-grey-lightest;

		@media #{$tablet-portrait} {
			padding: 15px 0;
		}
	}

	.section__body {
		padding-top: 27px;
	}

	.section__title {
		margin: 0;
		font-size: 1.25rem;
		font-weight: 700;
		text-transform: uppercase;

		a {
			position: relative;
			top: -2px;
			display: inline-block;
			margin-left: 8px;
			font-size: 0.85rem;
			font-weight: 500;
			text-transform: none;
			color: $color-black;
		}
	}

	.section__nav {
		text-transform: uppercase;

		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		a {
			color: $color-black;
			font-weight: 500;
		}

		li + li {
			margin-left: 72px;
		}
	}

	&--listing {
		@media #{$tablet-portrait} {
			margin-top: -20px;
			padding-top: 0;
		}
		.container {
			display: flex;
		}

		.section__aside {
			width: 25%;
			padding-right: 10px;

			@media #{$tablet-portrait} {
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				z-index: 120;
				width: 334px;
				max-width: 90%;
				padding: 20px;
				background-color: $color-white;
				transform: translateX(-100%);
				visibility: hidden;
				transition: transform .3s, visibility .3s;

				&.active {
					transform: translateX(0);
					visibility: visible;
				}
			}
		}

		.section__content {
			width: 75%;
			padding-left: 5px;

			@media #{$tablet-portrait} {
				width: 100%;
				padding-left: 0;
			}
		}

		.section__head {
			padding: 0 0 10px;
			align-items: center;
			border: 0;
		}

		.section__title {
			padding-left: 40px;
			font-size: 0.75rem;
			text-transform: none;
			font-weight: 700;

			span {
				display: inline-block;
				margin-right: 15px;
				font-size: 0.88rem;
				font-weight: 400;
				color: $color-grey-medium;
			}
		}

		@media #{$tablet-portrait} {
			.section__select {
				width: calc(50% - 7px);
			}

			.section__actions {
				padding: 56px 0 0;
			}
		}
	}
}
