/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
	@media #{$tablet-portrait} {
		margin-bottom: 40px;
	}
	ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li + li {
		margin-left: 15px;
	}

	a {
		transition: opacity .3s;

		&:hover {
			opacity: .6;
		}
	}
}
