/* ------------------------------------------------------------ *\
	Subscribe
\* ------------------------------------------------------------ */

.subscribe {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
	align-items: center;

	.subscribe__aside {
		width: 395px;
		position: relative;
		padding-left: 70px;
	}

	.subscribe__content {
		width: calc(100% - 395px);
		padding-left: 24px;
	}

	.subscribe__image {
		position: absolute;
		left: 0;
		top: 5px;
	}

	.subscribe__title {
		margin-bottom: 4px;
		font-size: 1.5rem;
		font-weight: 700;
	}

	.subscribe__entry {
		margin-bottom: 0;
	}

	form {
		display: flex;
		justify-content: flex-end;

		.field {
			max-width: 260px;
			margin-right: 24px;
		}
	}
}

@media #{$tablet-portrait} {
	.subscribe {
		flex-direction: column;
		text-align: center;

		.subscribe__aside {
			padding: 60px 0 26px;
		}

		.subscribe__content {
			width: 100%;
			max-width: 340px;
			padding-left: 0;
		}

		.subscribe__image {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
		}
	}

	form {
		display: flex;
		flex-direction: column;

		.field {
			width: 100%;
			max-width: 100% !important;
			margin: 0 auto 12px;
		}
	}
}
