/* ------------------------------------------------------------ *\
	Tabs
\* ------------------------------------------------------------ */

.tabs {
	.tabs__head {
		display: flex;
		justify-content: center;
	}

	.tabs__body {
		padding: 32px 0 0;
	}

	.tabs__nav {
		ul {
			display: flex;
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		a {
			display: block;
			height: 37px;
			padding: 0 28px;
			border-bottom: 2px solid $color-grey-lighter;
			color: $color-grey-light;
			text-transform: uppercase;
			font-weight: 500;
			transition: color .3s, border-color .3s;


			&:hover {
				text-decoration: none;
				border-color: $color-grey-light;
				color: $color-grey;
			}
		}

		.current {
			a {
				border-color: $color-purple;
				color: $color-black;
			}
		}

		@media #{$tablet-portrait} {
			padding: 0;
			width: 100%;

			li {
				width: 50%;
			}

			a {
				padding: 0;
				text-align: center;
			}
		}
	}

	&--block {
		padding-top: 13px;

		.tabs__nav {
			width: 100%;
			text-align: center;

			a {
				height: 33px;

				&:hover {

				}
			}

			.current {
				a {
					border-color: $color-black;
					color: $color-black;
				}
			}

			li {
				width: 33.33%;
			}
		}

		.tabs__body {
			padding-top: 25px;

			@media #{$tablet-portrait} {
				padding-top: 0;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Tab
\* ------------------------------------------------------------ */

.tab {
	position: absolute;
	visibility: hidden;
	left: 50%;
	right: 50%;

	&.active {
		position: static;
		visibility: visible;
	}

	.tab__more {
		display: inline-block;
		margin-left: 10px;
		font-size: 0.88rem;
		font-weight: 600;
		text-transform: uppercase;
		color: $color-black;
	}

	.tab__entry {
		max-height: 75px;
		overflow: hidden;

		&.active {
			max-height: 100%;
		}
	}

	@media #{$tablet-portrait} {
		&--accordion {
			position: static;
			visibility: visible;
			padding: 15px 0 0;

			.tab__entry {
				display: none;
				max-height: 100%;
				padding: 12px 0 0;
				line-height: 2;
			}

			.tab__head {
				position: relative;
				display: block;
				height: 44px;
				line-height: 44px;
				font-size: 0.88rem;
				text-transform: uppercase;
				font-weight: 600;
				color: $color-black;
				border-bottom: 1px solid $color-black;
				text-decoration: none !important;

				&:before, &:after {
					content: '';
					position: absolute;
					right: 0;
					top: 20px;
					display: block;
					width: 8px;
					height: 2px;
					background-color: $color-black;
					transition: opacity .3s;
				}

				&:after {
					transform: rotate(90deg);
				}

				&.active {
					&:after {
						opacity: 0;
					}
				}
			}
		}
	}
}
