/* ------------------------------------------------------------ *\
	Testimonial
\* ------------------------------------------------------------ */

.testimonial {
	line-height: 2;

	cite {
		display: flex;
		margin-top: 12px;
		font-style: normal;
		font-weight: 600;

		.rating {
			margin-left: 15px;
		}
	}

	& + .testimonial {
		margin-top: 30px;
	}
}

/* ------------------------------------------------------------ *\
	Testimonials
\* ------------------------------------------------------------ */

.testimonials {
	.testimonials__actions {
		padding: 60px 0 0;
		text-align: center;
	}
}
