/* ------------------------------------------------------------ *\
	Select2
\* ------------------------------------------------------------ */

.select2-selection__arrow {
	display: none;
}

.select2-container .select2-selection--single {
	border-radius: 0;
	height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 40px;
}
