/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$font-family-sans-serif: 'Rajdhani', Helvetica, sans-serif;
$font-family-serif: Times, 'Times New Roman', serif;
$montserrat: 'Montserrat', sans-serif;

$font-size-base: .88rem;
$line-height-base: 1.3;

$responsive-xxs: 374px;
$responsive-xs: 767px;
$responsive-sm: 1023px;
$responsive-md: 1300px;

$color-black: #000;
$color-grey-dark: #666;
$color-grey: #707070;
$color-grey-medium: #999;
$color-grey-light: #CACACA;
$color-grey-light-product: #DADADA;
$color-grey-lighter: #EAEAEA;
$color-grey-lightest: #F4F4F4;
$color-white: #fff;

$color-purple: #E6007E;
$color-blue: #009DFF;
$color-green: #2FDE72;

$mobile-small: '(max-width: #{$responsive-xxs}) ';
$mobile: '(max-width: #{$responsive-xs}) ';
$tablet-portrait: '(max-width: #{$responsive-sm}) ';
$small-desktop: '(max-width: #{$responsive-md}) ';
$retina: '(min-resolution: 2dppx) ';

// Usage
// @media #{$small-desktop}
