/* ------------------------------------------------------------ *\
	Vote
\* ------------------------------------------------------------ */

.vote {
	position: relative;
	height: 35px;
	padding-right: 18px;
	line-height: 35px;
	text-align: right;
	background-color: $color-grey-lightest;
	font-size: 0.75rem;
	font-weight: 600;
	text-transform: uppercase;
	font-family: $montserrat;

	.vote__front {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: $color-grey-light-product;
	}

	.vote__text {
		position: relative;
		z-index: 10;
	}
}
