/* ------------------------------------------------------------ *\
	Widgets
\* ------------------------------------------------------------ */

.widgets {
	.widget + .widget {
		margin-top: 30px;
	}

	.widgets__actions {
		padding: 5px 0 15px;
		a {
			color: $color-black;
			text-decoration: none;
			font-size: 1.38rem;
			font-weight: 600;

			img {
				position: relative;
				top: -1px;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}

/* ------------------------------------------------------------ *\
	Widget
\* ------------------------------------------------------------ */

.widget {
	position: relative;
	padding: 24px 15px 0;
	border: 1px solid $color-grey-lighter;

	.widget__head {
		padding-bottom: 21px;
	}

	.widget__content {
		border-top: 1px solid $color-grey-lighter;
		padding: 25px 0;
	}

	.widget__title {
		margin-bottom: 0;
		font-size: 0.88rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	.widget__toggle {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 62px;

		img {
			position: absolute;
			right: 18px;
			top: 50%;
			transform: translateY(-50%) rotate(-90deg);
			transition: transform .3s;
		}
	}

	.widget__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		color: $color-grey-medium;

		li + li {
			margin-top: 19px;
		}

		a {
			color: $color-grey-medium;

			span {
				display: inline-block;
				margin-left: 3px;
			}
		}
	}

	.widget__actions {
		padding: 26px 0 0;

		a {
			text-transform: uppercase;
			color: $color-black;
			font-size: 0.76rem;
			font-weight: 700;
		}
	}

	&.active {
		.widget__toggle {
			img {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
}
