/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	min-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
}
