.departamento, .categoria{
    #admake-advanced-filter{
        h2{
            display none
        }
        .box-filtro{
            position: relative;
            padding: 24px 15px 0;
            border: 1px solid #EAEAEA; 
            .sub-titulo{
                padding-bottom: 21px;
                h3{
                    margin-bottom: 0;
                    font-size: 0.88rem;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .opcoes{
                border-top: 1px solid #EAEAEA;
                padding: 25px 0;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    color: #999;
                    li{
                        a{
                            color: #999;   
                            i{
                                display none
                            } 
                        }
                        + li {
                            margin-top: 19px;
                        }
                    }
                }
            }
            +.box-filtro{
                margin-top: 30px;
            }
        }
    }
    #main-content{
        .main{
            .searchResultsTime{
                &:nth-child(2n){
                    display none !important
                    .resultado-busca-termo, .resultado-busca-tempo, .resultado-busca-numero{
                        display none
                    }
                }
                .resultado-busca-termo, .resultado-busca-tempo{
                    display none
                }
                .resultado-busca-numero{
                    span{

                        &:last-child{
                            font-weight 700
                        }
                    }
                }
                &:first-child{
                    display block
                    position relative
                    float left
                    width 50%
                    padding: 20px 0;
                    margin-bottom 0
                }
                
            }
            .sub{
                .resultado-busca-filtro{
                    .orderBy{
                        select{
                            width: 256px;
                            height: 62px;
                            padding: 0 10px;
                            border: 1px solid #CACACA;
                            border-radius: 0;
                        }
                    }
                    .filterBy, .compare{
                        display none
                    }
                }
                &:first-child{
                    display block
                    position relative
                    float left
                    width 50%
                }
                &:last-child{
                    display none
                }
            }
            .vitrine{
                margin-top 30px
                display: block
                .pager.top, .pager.bottom{
                    display none
                }
                ul{
                    display:inline-block;
                    padding 0
                    width 100%
                    li{
                        width 33%
                        float left

                    }
                }
            }
        }
    }
}

 .resultado-busca{
     .vitrine{
        margin-top 30px
        display: block
        .pager.top, .pager.bottom{
            display none
        }
        ul{
            display:inline-block;
            padding 0
            width 100%
            li{
                width 25%
                float left

            }
        }
    }
 }

 @media (max-width: 600px){
    .vitrine{
        margin-top 30px
        display: block
        .pager.top, .pager.bottom{
            display none
        }
        ul{
            display:inline-block;
            padding 0
            width 100%
            li{
                width 100% !important
                float left

            }
        }
    }
 }

.box-filtro .sub-titulo {
    width: 270px;
    height: 10px;
    position: relative;
    cursor: pointer;
    &:after {
        position: absolute;
        top: calc(45% - 6px);
        right: auto;
        left: 248px;
        width: 10px;
        height: 2px;
        background: #4a3a3d;
        content: "";
        will-change: transform;
        transition: all .2s ease;
    }
    &:before{
        position: absolute;
        top: calc(45% - 6px);
        right: auto;
        left: 242px;
        width: 10px;
        height: 2px;
        background: #4a3a3d;
        content: "";
        will-change: transform;
        transition: all .2s ease;
    }
    &:before {
        transform: 
        rotate(45deg)
        translate(-2px,2px);
    }
    &:after {
        transform: 
        rotate(-45deg)
        translate(2px,2px);
    }
}

.active-filtro {
    &:before {
        transform: 
        rotate(-45deg) !important
        translate(1px, -1px) !important;
    }
    &:after {
        transform: 
        rotate(45deg) !important
        translate(-3px,-3px) !important;
    }
}

.filtro-material, .filtro-genero, .filtro-produto, .filtro-marca .opcoes{
    li:before{
        content: "";
        background-color: #ffffff;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        margin-top: -6px;
        border: 1px solid #e0e0e0;
    }
    .filtro-ativo:before{
        content: "";
        display: none !important;
    }
    .ver-filtros{
        padding-left: 0px !important;
    }
    a{
        position: relative;
        padding-left: 42px;
    }
}

.filtro-tamanho .opcoes{
    ul{
        width: 100%;
        li{
            width: 22%;
            margin-bottom: 6%;
            display: inline-block;

            a{
                padding: 14px;
                font-size: 11px;
                border: 1px solid #f0f0f0;
            }
            &.last{
                display: none;
            }
        } 
    }

}

.filtro-cor .opcoes{
  ul{
      width: 100%;
      li{
        width: 20%;
        display: inline-block;
    }
}

a[title="Azul"]  {
    background: #0056b3;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Bege"]  {
    background: #f5f5dc;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Branco"]  {
    background: #FFFFFF;
    border: 1px solid #f2f2f2;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Cinza"]  {
    background: #D3D3D3;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Marrom"]  {
    background: #A52A2A;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Preto"]  {
    background: #000000;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Vermelho"]  {
    background: #FF0000;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Amarelo"]  {
    background: #ffff00;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Chumbo"]  {
    background: #808080;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Vinho"]  {
    background: #800000;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Bordô"]  {
    background: #800020;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Verde"]  {
    background: #008000;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

a[title="Café"],
a[title="Cafe"] {
    background: #4b3621;
    width: 38px;
    height: 36px;
    display: block;
    font-size: 0;
}

}