.produto{
    .section{
        .gallery-product{
            #include{
                float right
                display: block
                margin-left: 7px;
                width: calc(100% - 72px);
                border: 1px solid #DADADA;
                #image{
                    
                    img{
                        width: 100%;
                    }
                }
            }
            .thumbs{
                padding-left 0
                width: 65px;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                list-style none
                li{
                    margin-bottom 7px
                    display: block
                    position: relative
                    a{
                        -webkit-transition: opacity .3s;
                        -o-transition: opacity .3s;
                        transition: opacity .3s;
                        border: 1px solid #DADADA;
                        height 100%
                        display block
                        opacity: .39;
                        img{
                            width: 100%;
                        }
                        &.ON{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .product-large{
            .product__head{
                .product__subtitle{
                    display flex
                }
            }
            .product__body{
                .plugin-preco{
                    .descricao-preco{
                        em{
                            margin-bottom: 10px;
                            font-size: 0.75rem;
                            color: #666;
                            display inline-block
                            width: 100%
                            &.valor-por{
                                font-weight: 700;
                                font-size: 1.76rem;
                                .skuBestPrice{
                                    color: #E6007E;
                                }
                            }
                        }
                    }
                    .preco-a-vista{
                        display none !important
                    }
                }
                .buy-button.buy-button-ref{
                    display none !important
                }
                .sku-selector-container{
                    make-lg-column(12)
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px;
                    ul.Tamanho{
                        width 41.66667%
                        list-style none
                        display: block
                        padding-left: 16px
                        .specification{
                            margin-bottom: 15px;
                            font-size: 0.88rem;
                            font-weight: 500;
                        }
                        .group_0{
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            padding: 0;
                            margin: 0 0 14px;
                            list-style-type: none;
                            label{
                                display: block;
                                width: 37px;
                                height: 37px;
                                margin-right 10px
                                line-height: 33px;
                                text-align: center;
                                border: 2px solid #000;
                                font-weight: 700;
                                text-transform: uppercase;
                                -webkit-transition: background-color .3s, border, .3s, color .3s;
                                -o-transition: background-color .3s, border, .3s, color .3s;
                                transition: background-color .3s, border, .3s, color .3s;
                                &:hover {
                                    background-color: #CACACA;
                                    cursor: pointer;
                                }
                                &.checked{
                                    background-color: #000;
                                    color: #fff;
                                }
                            }
                            input{
                                position: absolute;
                                visibility: hidden;
                            }
                        }
                    }
                    ul.Cor{
                        make-lg-column(5)
                        list-style none
                        padding-left: 16px
                        .specification{
                            margin-bottom: 15px;
                            font-size: 0.88rem;
                            font-weight: 500;
                        }
                        select{
                            option{
                                &:[value*="Preto"]{
                                    &:before{
                                        display block
                                        position relative
                                        width 30px
                                        height 30px
                                        border: 1px solid
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}