@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Regular.eot');
    src: url('Rajdhani-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Regular.woff2') format('woff2'),
        url('Rajdhani-Regular.woff') format('woff'),
        url('Rajdhani-Regular.ttf') format('truetype'),
        url('Rajdhani-Regular.svg#Rajdhani-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Bold.eot');
    src: url('Rajdhani-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Bold.woff2') format('woff2'),
        url('Rajdhani-Bold.woff') format('woff'),
        url('Rajdhani-Bold.ttf') format('truetype'),
        url('Rajdhani-Bold.svg#Rajdhani-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Light.eot');
    src: url('Rajdhani-Light.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Light.woff2') format('woff2'),
        url('Rajdhani-Light.woff') format('woff'),
        url('Rajdhani-Light.ttf') format('truetype'),
        url('Rajdhani-Light.svg#Rajdhani-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-SemiBold.eot');
    src: url('Rajdhani-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-SemiBold.woff2') format('woff2'),
        url('Rajdhani-SemiBold.woff') format('woff'),
        url('Rajdhani-SemiBold.ttf') format('truetype'),
        url('Rajdhani-SemiBold.svg#Rajdhani-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rajdhani';
    src: url('Rajdhani-Medium.eot');
    src: url('Rajdhani-Medium.eot?#iefix') format('embedded-opentype'),
        url('Rajdhani-Medium.woff2') format('woff2'),
        url('Rajdhani-Medium.woff') format('woff'),
        url('Rajdhani-Medium.ttf') format('truetype'),
        url('Rajdhani-Medium.svg#Rajdhani-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

