<footer class="footer">
	<div class="footer__body">
		<div class="container">
			<div class="subscribe">
				<div class="subscribe__aside">
					<div class="subscribe__image">
						<img src="assets/images/ico-mail.svg" width="42" height="39" alt="">
					</div><!-- /.subscribe__image -->

					<h4 class="subscribe__title">
						Inscreva-se em nossa newsletter
					</h4><!-- /.subscribe__title -->

					<p class="subscribe__entry">
						Receba nossas promoções diretamente em seu e-mail
					</p><!-- /.subscribe__entry -->
				</div><!-- /.subscribe__aside -->

				<div class="subscribe__content">
					<form action="?" method="post">
						<input type="text" id="name" name="name" value="" placeholder="Seu nome" class="field field--large">

						<input type="email" id="mail" name="mail" value="" placeholder="Seu e-mail" class="field field--large">

						<input type="submit" value="INSCREVA-SE" class="btn btn--product">
					</form>
				</div><!-- /.subscribe__content -->
			</div><!-- /.subscribe -->

			<div class="footer__navs">
				<div class="row">
					<div class="col-md-6 col-lg-3">
						<div class="footer__nav">
							<h4 class="footer__title">
								Informações

								<div class="footer__icon hidden-desktop">
									<img src="assets/images/ico-chevron-large.svg" width="16" height="9" alt="">
								</div><!-- /.footer__icon -->
							</h4><!-- /.footer__title -->

							<ul>
								<li>
									<a href="#">
										Quem somos
									</a>
								</li>

								<li>
									<a href="#">
										Fale Conosco
									</a>
								</li>

								<li>
									<a href="#">
										Nosso endereço
									</a>
								</li>

								<li>
									<a href="#">
										Documentos da empresa
									</a>
								</li>
							</ul>
						</div><!-- /.footer__nav -->
					</div><!-- /.col-md-6 col-lg-3 -->

					<div class="col-md-6 col-lg-3">
						<div class="footer__nav">
							<h4 class="footer__title">
								Ajuda E Suporte

								<div class="footer__icon hidden-desktop">
									<img src="assets/images/ico-chevron-large.svg" width="16" height="9" alt="">
								</div><!-- /.footer__icon -->
							</h4><!-- /.footer__title -->

							<ul>
								<li>
									<a href="#">
										Como comprar
									</a>
								</li>

								<li>
									<a href="#">
										Perguntas frequentes
									</a>
								</li>

								<li>
									<a href="#">
										Troca e devoluções
									</a>
								</li>

								<li>
									<a href="#">
										Formas de entrega
									</a>
								</li>
							</ul>
						</div><!-- /.footer__nav -->
					</div><!-- /.col-md-6 col-lg-3 -->

					<div class="col-md-6 col-lg-3">
						<div class="footer__nav">
							<h4 class="footer__title">
								Atendimento Sac

								<div class="footer__icon hidden-desktop">
									<img src="assets/images/ico-chevron-large.svg" width="16" height="9" alt="">
								</div><!-- /.footer__icon -->
							</h4><!-- /.footer__title -->

							<ul>
								<li>
									Dúvidas sobre produtos e serviço de entrega?
								</li>

								<li>
									<a href="tel:1149308101">
										<i>
											<img src="assets/images/ico-phone.svg" width="20" height="20" alt="">
										</i>

										<strong>(11) 4930-8101</strong>
									</a>
								</li>

								<li>
									<a href="mailto:contato@logo.com.br">
										<i>
											<img src="assets/images/ico-email.svg" width="20" height="20" alt="">
										</i>

										<strong>contato@logo.com.br</strong>
									</a>
								</li>

								<li>
									Seg a Sex: das 9:00 às 17:00
								</li>
							</ul>
						</div><!-- /.footer__nav -->
					</div><!-- /.col-md-6 col-lg-3 -->

					<div class="col-md-6 col-lg-3">
						<div class="footer__nav">
							<h4 class="footer__title">
								Atendimento - Vendas

								<div class="footer__icon hidden-desktop">
									<img src="assets/images/ico-chevron-large.svg" width="16" height="9" alt="">
								</div><!-- /.footer__icon -->
							</h4><!-- /.footer__title -->

							<ul>
								<li>
									Deseja adquirir nossos produtos?
								</li>

								<li>
									<a href="tel:11972673554">
										<i>
											<img src="assets/images/ico-phone.svg" width="20" height="20" alt="">
										</i>

										<strong>(11) 9.7267-3554</strong>
									</a>
								</li>

								<li>
									<a href="mailto:vendas@logo.com.br">
										<i>
											<img src="assets/images/ico-email.svg" width="20" height="20" alt="">
										</i>

										<strong>vendas@logo.com.br</strong>
									</a>
								</li>

								<li>
									Seg a Sab: das 8:00 às 22:00
								</li>
							</ul>
						</div><!-- /.footer__nav -->
					</div><!-- /.col-md-6 col-lg-3 -->
				</div><!-- /.row -->
			</div><!-- /.footer__navs -->

			<div class="footer__section">
				<div class="row">
					<div class="col-md-6 col-lg-9">
						<h4 class="footer__title">
							Meios De Pagamento
						</h4><!-- /.footer__title -->
					</div><!-- /.col-md-6 col-lg-9 -->

					<div class="col-md-6 col-lg-3 hidden-mobile">
						<h4 class="footer__title">
							Selos
						</h4><!-- /.footer__title -->
					</div><!-- /.col-md-6 col-lg-3 -->
				</div><!-- /.row -->

				<div class="row">
					<div class="col-md-6 col-lg-9">
						<div class="footer__logos">
							<ul>
								<li>
									<a href="#">
										<img src="assets/images/temp/visa@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/master@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/elo@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/hipercard@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/dinners@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/amex@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/boleto@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/barisul@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/bb@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/santander@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/itau@2x.png" alt="" width="62" height="41">
									</a>
								</li>

								<li>
									<a href="#">
										<img src="assets/images/temp/bradesco@2x.png" alt="" width="62" height="41">
									</a>
								</li>
							</ul>
						</div><!-- /.footer__logos -->
					</div><!-- /.col-md-6 col-lg-9 -->

					<div class="col-md-6 col-lg-3">
						<h4 class="footer__title hidden-desktop">
							Selos
						</h4><!-- /.footer__title -->

						<img src="assets/images/temp/encrypt-horizontal@2x.png" alt="" width="128" height="41">
					</div><!-- /.col-md-6 col-lg-3 -->
				</div><!-- /.row -->
			</div><!-- /.footer__section -->
		</div><!-- /.container -->
	</div><!-- /.footer__body -->

	<div class="footer__bottom">
		<div class="container">
			<div class="footer__content">
				<div class="socials">
					<ul>
						<li>
							<a href="#">
								<img src="assets/images/ico-fb.svg" width="29" height="29" alt="">
							</a>
						</li>

						<li>
							<a href="#">
								<img src="assets/images/ico-tweeter.svg" width="29" height="29" alt="">
							</a>
						</li>

						<li>
							<a href="#">
								<img src="assets/images/ico-insta.svg" width="29" height="29" alt="">
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->

				<p class="footer__entry">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
				</p><!-- /.footer__entry -->
			</div><!-- /.footer__content -->

			<div class="footer__aside">
				<span>
					Plataforma:
				</span>

				<img src="assets/images/ico-platforma.svg" width="82" height="32" alt="">
			</div><!-- /.footer__aside -->
		</div><!-- /.container -->
	</div><!-- /.footer__bottom -->
</footer><!-- /.footer -->
