<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>4takes</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
</head>
