<header class="header-mobile">
	<div class="container">
		<a href="#" class="logo">
			<img src="assets/images/logo.svg" height="41" width="131" alt="">
		</a>
	</div><!-- /.container -->
</header><!-- /.header-mobile -->

<header class="header">
	<div class="header__top">
		<div class="container">
			<a href="#" class="logo">
				<img src="assets/images/logo.svg" height="41" width="131" alt="">
			</a>

			<div class="search hidden-mobile">
				<form action="?" method="get">
					<label for="q" class="hidden">Search</label>

					<input type="search" name="q" id="q" value="" placeholder="O que você procura?" class="search__field">

					<button type="submit" class="search__btn">
						<i>
							<img src="assets/images/ico-search.svg" height="18" width="18" alt="">
						</i>
					</button>
				</form>
			</div><!-- /.search -->

			<nav class="nav-utilities">
				<ul>
					<li class="has-dropdown hidden-desktop">
						<a href="#">
							<img src="assets/images/ico-search.svg" width="19" height="19" alt="">
						</a>

						<div class="dropdown dropdown--utilities">
							<div class="container">
								<div class="dropdown__inner">
									<div class="search">
										<form action="?" method="get">
											<label for="q" class="hidden">Search</label>

											<input type="search" name="q" id="q" value="" placeholder="O que você procura?" class="search__field">

											<button type="submit" class="search__btn">
												<i>
													<img src="assets/images/ico-search.svg" height="18" width="18" alt="">
												</i>
											</button>
										</form>
									</div><!-- /.search -->
								</div><!-- /.dropdown__inner -->
							</div><!-- /.container -->
						</div><!-- /.dropdown -->
					</li>

					<li class="has-dropdown">
						<a href="#">
							<img src="assets/images/ico-user.svg" width="20" height="19" alt="">
						</a>

						<div class="dropdown dropdown--utilities">
							<div class="container">
								<div class="dropdown__inner">
									<div class="dropdown__head">
										<h5 class="dropdown__subtitle">
											Seja bem-vindo (a)
										</h5><!-- /.dropdown__subtitle -->

										<h3 class="dropdown__title">
											Nome do usuário
										</h3><!-- /.dropdown__title -->
									</div><!-- /.dropdown__head -->

									<div class="dropdown__body">
										<ul class="dropdown__list">
											<li>
												<a href="#">
													<img src="assets/images/ico-box.svg" alt="">

													<span>Meus pedidos</span>
												</a>
											</li>

											<li>
												<a href="#">
													<img src="assets/images/ico-profile.svg" alt="">

													<span>Meus dados</span>
												</a>
											</li>
										</ul><!-- /.dropdown__list -->
									</div><!-- /.dropdown__body -->

									<div class="dropdown__foot">
										<a href="#" class="dropdown__link">
											Sair
										</a>
									</div><!-- /.dropdown__foot -->
								</div><!-- /.dropdown__inner -->
							</div><!-- /.container -->
						</div><!-- /.dropdown -->
					</li>

					<li class="has-dropdown">
						<a href="#">
							<img src="assets/images/ico-cart.svg" width="21" height="19" alt="">
						</a>

						<div class="dropdown dropdown--utilities dropdown--cart">
							<div class="container">
								<div class="dropdown__inner">
									<div class="dropdown__table">
										<table>
											<tr>
												<th>Produto</th>

												<th class="text-center">Preço</th>

												<th class="text-center">Excluir</th>
											</tr>

											<tr>
												<td class="dropdown__table-product">
													<a href="#" class="dropdown__table-image">
														<img src="assets/images/temp/watch-small.png" alt="" width="60" height="68">
													</a><!-- /.dropdown__table-image -->

													<p class="dropdown__table-entry">
														<a href="#">
															Nome de produto que possa ter um título mais extenso
														</a>
													</p><!-- /.dropdown__table-entry -->
												</td>

												<td class="text-center">
													<p class="dropdown__table-price">
														R$1999,00
													</p><!-- /.dropdown__table-price -->
												</td>

												<td class="text-center">
													<div class="dropdown__table-actions">
														<a href="#">
															<img src="assets/images/ico-trash.svg" width="15" height="16" alt="">
														</a>
													</div><!-- /.dropdown__table-actions -->
												</td>
											</tr>

											<tr>
												<td class="dropdown__table-product">
													<a href="#" class="dropdown__table-image">
														<img src="assets/images/temp/men.png" alt="" width="60" height="68">
													</a><!-- /.dropdown__table-image -->

													<p class="dropdown__table-entry">
														<a href="#">
															Nome de produto que possa ter um título mais extenso
														</a>
													</p><!-- /.dropdown__table-entry -->
												</td>

												<td class="text-center">
													<p class="dropdown__table-price">
														R$1999,00
													</p><!-- /.dropdown__table-price -->
												</td>

												<td class="text-center">
													<div class="dropdown__table-actions">
														<a href="#">
															<img src="assets/images/ico-trash.svg" width="15" height="16" alt="">
														</a>
													</div><!-- /.dropdown__table-actions -->
												</td>
											</tr>
										</table>
									</div><!-- /.table -->

									<div class="dropdown__foot">
										<div class="dropdown__foot-content">
											<h5 class="dropdown__subtitle">
												SubTotal
											</h5><!-- /.dropdown__subtitle -->

											<h2 class="dropdown__price">
												R$1999,00
											</h2><!-- /.dropdown__price -->
										</div><!-- /.dropdown__foot-content -->

										<div class="dropdown__foot-aside">
											<a href="#" class="btn">
												Ir Para O Carrinho
											</a>
										</div><!-- /.dropdown__foot-aside -->
									</div><!-- /.dropdown__foot -->
								</div><!-- /.dropdown__inner -->
							</div><!-- /.container -->
						</div><!-- /.dropdown -->
					</li>
				</ul>
			</nav><!-- /.nav-utilities -->
		</div><!-- /.container -->
	</div><!-- /.header__top -->

	<div class="header__bottom">
		<div class="container">
			<a href="#" class="btn-menu">
				<span></span>

				<span></span>

				<span></span>
			</a>

			<nav class="nav">
				<ul>
					<li class="hidden-mobile">
						<a href="#">
							Todas Categorias
						</a>
					</li>

					<li class="has-dropdown">
						<a href="#">
							Masculino
						</a>

						<div class="dropdown dropdown--nav">
							<div class="dropdown__inner">
								<div class="container">
									<h4 class="dropdown__title hidden-desktop">
										<strong>Masculino</strong>
									</h4><!-- /.dropdown__title -->

									<div class="row">
										<div class="col-6 col-md-4 col-lg-2">
											<div class="dropdown__nav">
												<h4 class="dropdown__title">
													Vestuário
												</h4><!-- /.dropdown__title -->

												<ul>
													<li>
														<a href="#">Boné</a>
													</li>

													<li>
														<a href="#">Colete</a>
													</li>

													<li>
														<a href="#">Camisa Polo</a>
													</li>

													<li>
														<a href="#">Camiseta</a>
													</li>

													<li>
														<a href="#">Jaqueta</a>
													</li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.col--6 col-md-4 col-lg-3 -->

										<div class="col-6 col-md-4 col-lg-2">
											<div class="dropdown__nav">
												<h4 class="dropdown__title">
													Acessórios
												</h4><!-- /.dropdown__title -->

												<ul>
													<li>
														<a href="#">Bolsa Executiva</a>
													</li>

													<li>
														<a href="#">Carteira</a>
													</li>

													<li>
														<a href="#">Mochila</a>
													</li>

													<li>
														<a href="#">Perfume</a>
													</li>

													<li>
														<a href="#">Relógio</a>
													</li>
												</ul>
											</div><!-- /.dropdown__nav -->
										</div><!-- /.col--6 col-md-4 col-lg-3 -->

										<div class="col-md-4 col-lg-8 hidden-mobile">
											<div class="dropdown__image text-right">
												<img src="assets/images/temp/hat-strap.png" alt="" width="462" height="269">
											</div><!-- /.dropdown__image -->
										</div><!-- /.col-md-4 col-lg-3 -->
									</div><!-- /.row -->

									<div class="dropdown__actions hidden-desktop">
										<a href="#" class="js-close-dropdown">
											Ver Mais
										</a>
									</div><!-- /.dropdown__actions -->
								</div><!-- /.container -->
							</div><!-- /.dropdown__inner -->
						</div><!-- /.dropdown -->
					</li>

					<li>
						<a href="#">
							Feminino
						</a>
					</li>

					<li>
						<a href="#">
							Infantil
						</a>
					</li>

					<li>
						<a href="#">
							Acessórios
						</a>
					</li>

					<li class="hidden-mobile">
						<a href="#">
							Colecionáveis
						</a>
					</li>

					<li>
						<a href="#">
							Casa E Decoração
						</a>
					</li>

					<li class="hidden-mobile">
						<a href="#">
							Informática E Celulares
						</a>
					</li>

					<li class="hidden-mobile">
						<a href="#">
							Papelaria E Livros
						</a>
					</li>

					<li class="hidden-desktop">
						<a href="#">
							Miniaturas
						</a>
					</li>
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.container -->
	</div><!-- /.header__bottom -->
</header><!-- /.header -->
