// Fake Select
.fake-select{
	position: relative;
	display: block;
	overflow: hidden;
	cursor: pointer;
	background whiteFF
	box-shadow: 0 0 0 1px #444444 inset, 2px 2px 0 0px rgba(#444444,0.16) inset
	padding-left 12px
	&:after{
		content: "\f107";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color #444444
		font-size: 19px;
		line-height: .35;
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 100%;
		display: block;
		pointer-events: none;
		text-align: center;
		line-height 44px
	}
	select {
		transition-animate(all, ease, 0.5s, 0)
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius 0px;
		box-shadow none !important;
		font-regular(14px);
		line-height 44px
		width: 100%;
		height 44px
		cursor: pointer;
		padding 0
		border none;
		background-color transparent
		padding-left 0
		color greyCA
	}
	select::-ms-expand {
		display: none;
	}

	:-moz-any(select) {
		width: 110%;
	}

	.fake-select.ie9 select {
		width: 110%;
	}
}