.zoomPad {
	position: relative;
	float: left;
	z-index: 99;
	cursor: crosshair
}

.zoomPreload {
	-moz-opacity: .8;
	opacity: .8;
	color: #333;
	font-size: 12px;
	font-family: Tahoma;
	text-decoration: none;
	border: 1px solid #CCC;
	background-color: #fff;
	padding: 8px;
	text-align: center;
	background-image: url(/arquivos/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 110;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.zoomPup {
	overflow: hidden;
	background-color: #FFF;
	-moz-opacity: .6;
	opacity: .6;
	z-index: 120;
	position: absolute;
	border: 1px solid #CCC;
	z-index: 101;
	cursor: crosshair
}

.zoomOverlay {
	position: absolute;
	left: 0;
	top: 0;
	background: #FFF;
	z-index: 5000;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 101
}

.zoomWindow {
	position: absolute;
	left: 445px !important;
	top: 40px;
	background: #FFF;
	z-index: 6000;
	height: auto;
	z-index: 10000;
	z-index: 110;
}


.zoomWrapperTitle {
	display: block;
	background: #999;
	color: #FFF;
	height: 18px;
	line-height: 18px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 120;
	-moz-opacity: .6;
	opacity: .6;
}

.zoomWrapperImage {
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 110;
	height: 400px !important;
}

.zoomWrapperImage img {
	border: 0;
	display: block;
	position: absolute;
	z-index: 101
}

.zoomIframe {
	z-index: -1;
	-moz-opacity: .8;
	opacity: .8;
	position: absolute;
	display: block
}


p.outOfStock {
    text-align: center;
    font-weight: 600;
}

.prateleira h2:first-child { 
    display:none;
}

a.product__image {
    padding: 10px;
}

.section__body .products .main {
    width: 100%;
}


.resultItemsWrapper .pager,
.searchResultsTime,
.resultado-busca-filtro 
{
    display: none;
}

body.departamento .products--flex .product
{
    width:100%;
}

body.departamento .prateleira ul li
{
    float:left;
    width: 33%;
}

section#account-content {
    margin-top: 20px;
}

.content-busca img {
    width: 70px;
    margin: 0 auto;
    position: relative;
    display: block;
}
.content-busca {
    position: absolute;
    background: white;
    width: 100%;
    z-index: 9999;
    padding: 20px;
    border: 1px solid #ededed;
}

.producto-img {
    float: left;
    width: 20%;
}

.producto-info {
    float: left;
    padding: 10px;
    width: 40%;
}

.producto-actions {
    float: left;
    width: 40%;
}

.productos-list {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.categorias {
    float: left;
    width: 100%;
    margin: 0px !important;
    margin-top: 20px !important;
}
.categorias ul {
    list-style-type: none;
    margin: 0px !important;
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px !important;
}
.producto-actions a i img {
    width: 30px;
    margin-left: -10px;
    margin-right: 10px;
}
.producto-img, .producto-info, .producto-actions {
    height: 70px;
}

.producto-info a,
.categorias ul li a
{
    color: #333;
    font-weight: 600;
}

article.producto {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
}
.autocomplete {
    border-bottom: 1px solid #ededed;
}

a.btn.ver-resultados {
    width: 100%;
}

a.btn.btn--block.btn--product {
    margin-top: 4px;
}

div#close_busca {
    width: 25px;
    float: right;
    font-weight: 900;
    border: 1px solid #333;
    border-radius: 100%;
    position: absolute;
    right: 6px;
    top: 5px;
    font-size: 14pt;
    /* line-height: 19px; */
    height: 25px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}
.dropdown__inner{
    .col-md-4 {
        &:nth-child(3n){
            display none
        }
    }
}
.slick-arrow:after {
    background-image: url('/arquivos/ico-chevron-black.png') !important;
}

.slick-arrow:after
{
    background-image: url('/arquivos/ico-chevron-black.png') !important;
}

.prodId, .prodSku
{
    display: none
}

body .slick-arrow {
    z-index: 100 !important;
}

a#edit-data-link,
a.address-update
{
    color: #333;
    font-weight: 600;
}
p.product__entry a {
    color: #333;
    font-weight: 600;
}

body.departamento .box-banner img {
    height: auto;
    width: 100%
}

.bannerFooterDepartamento .col-md-4
{
    float:left;
}

// body.departamento .footer.footer,
// body.departamento .container
// {
//     display: inline-block;
// }

.bannerFooterDepartamento .box-banner img {
    width: 100%;
}

body.departamento .prateleira h2:first-child {
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

body.departamento .slick-prev,
.slider-intro .slick-prev
{
    left: 15px;
}
body.departamento .slick-next,
.slider-intro .slick-next
{
    right: 15px;
}

body.departamento .slick-arrow:after,
.slider-intro .slick-arrow:after
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6px;
    height: 12px;
    background-image: url('/arquivos/ico-chevron-black.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body.departamento .slick-arrow,
.slider-intro .slick-arrow
{
    position: absolute;
    top: 130px;
    z-index: 1;
    width: 41px;
    height: 41px;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 0;
    transition: background-color .3s, border-color .3s;
    cursor:pointer;
}

body.departamento .slick-next,
.slider-intro .slick-next
{
    right: 25px;
    position: absolute !important;
    z-index: 9 !important;
    display: block !important;
}

body.departamento .gallery__item {
    padding: 0px 15px 0px 15px;
}

body #ajaxBusy
{
    display:none !important;
}

.section__head nav.section__nav.hidden-mobile 
{
    display:none;
}

body.departamento .slick-next:after,
.slider-intro .slick-next:after
{
    transform: translate(-50%, -50%) scale(-1, 1);
}
.dropdown .dropdown__inner,
.dropdown
{
    z-index: 200;
}

.content-banner-departamento .box-banner img {
    margin: 0 auto;
    display: block;
}

.slider-intro .slick-slide img {
    margin: 0 auto;
    height: auto;
}

.gallery .gallery__image img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.dropdown__inner .col-md-4:nth-child(3n) {
    display: block;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
   .dropdown__inner {
        min-height: 340px;
    }
}

.col-md-6.col-center {
    margin: 0 auto;
}

.contato section#login-content {
    margin-top: 30px;
}

#singlebutton_enviar
{
    width: 100%;
}

.footer .footer__bottom .footer__content {
    width: calc(100% - 550px);
}

.pager.bottom {
    display: block !important;
}

ul.pages li {
    float: left !important;
    width: auto !important;
    padding: 17px;
    border: 1px solid #ededed;
    list-style-type: none;
}

ul.pages {
    transform: translateX(-50%);
    margin-left: 50%;
}

li.page-number.pgCurrent {
    border: 1px solid #333;
    background: #ededed;
}

ul.pages li:hover {
    text-decoration: underline;
}

.item-dimension-Cor .sku-selector {
    display: none;
}

.item-dimension-Cor label 
{
    border: 1px solid #ededed;
    height: 35px;
    width: 35px;
    color: transparent;
}

.item-dimension-Cor label.checked 
{
    border: 2px solid #333;
}

.product .product__entry {
    min-height: 55px;
}

.gallery__item a {
    color: transparent;
}

.containerTexto p {
    line-height: 30px;
    font-size: 12pt;
}

.bannerFooterDepartamento {
    display: flex;
}

.tab__more.hidden-mobile {
    float: right;
    position: relative;
    float: right;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.produto .zoomWindow {
    float: left;
    left: 0px !important;
    width: 417px;
    height: 510px;
}

.produto .zoomWrapper {
    position: relative;
    border: 1px solid #999;
    z-index: 110;
    width: 310px !important;
    height: 310px !important;
    margin-left: 50px;
    margin-top: 100px;
}

input#notifymeClientEmail, .notifyme-client-name {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 10px;
}

input#notifymeButtonOK {
    float: right;
    width: 50%;
    height: 40px;
    background: #333;
    border: 0px;
    color: white;
    font-size: 13pt;
    text-transform: capitalize;
}

 .slider-intro .slick-slide img {
        margin: 0 auto;
        height: auto;
        width: 100%;
    }

 @media (max-width: 1023px) {
  
    .slider-intro .slick-slide img {
        margin: 0 auto;
        height: auto;
        width: 100%;
        margin-top: 80px;
        border-top: 1px solid;
    }
  
}

@media only screen and (max-width: 600px) {
    .departamento #main-content .main .vitrine ul li,
    .categoria #main-content .main .vitrine ul li 
    {
        width: 100% !Important;
        float: left;
    }

    .product .product__entry {
        min-height: 105px;
    }

    .prateleira ul
    {
        padding: 0px;
    }
}   



.shipping-box
{
    width 100%
    .quantity,
    .popupCalculoFreteWrapper,
    .header,
    #popupCalculoFreteWrapper
    {
        display none
    }

}


.dropdown__inner {
    min-height: 350px;
    overflow: hidden !important;

}

input#txtCep {
    border: 1px solid #ccc;
    height: 26px;
}

span.cep-busca
{
    display:none;
}

.shipping-box .footer {
    display: none !important;
}

input#btnFreteSimulacao {
    color: white;
    border: 0px;
    background: #333;
    height: 25px;
    margin-top: -1x;
    line-height: 25px;
}

.zoomWrapperImage img {
    width: 700px !important;
}

.departamento .gallery.gallery--alt .gallery__content {
    font-size: 22pt;
    border-bottom: 1px solid #ddd !important;
    cursor:pointer;
}

.temParcela
{
    .product__price {
        border-top: 0px solid #DADADA;
        font-size: 12pt;
        padding: 5px 0 0;
        text-align: right;
    }

    .parcelado {
        font-weight: 700;
        font-size: 15pt;
        text-align: center;
        border-top: 1px solid #dadada;
        padding-top: 10px;
    }
    
    .parcelado span {
        color: #E6007E;
        font-size: 20pt;
    }
}

p.product__entry {
    height: 70px;
}

.dropdown--cart .dropdown__inner,
.dropdown--utilities .dropdown__inner
{
    margin-top: -80px !important;
}