.login4{
	.vtexIdUI{
		font-family: "Rajdhani", Helvetica, sans-serif;
	}
	.btn {
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	}
	.btn-large {
		padding: 11px 19px;
		font-size: 14px;
		height: 50px;
	}
	.vtexId-link,
	.vtexIdUI-back-link {
		color: #ec008c;
	}
	.vtexIdUI-auth-code{ 
		.btn {
			font-size: 18px;
			height: auto;
		}
	}
}
.header-mobile .logo svg {
	fill: #212529;
}
#account-content {
	padding-top:30px;
	padding-botom:30px;
}
#address-edit,
#editar-perfil {
	label {
		display: inline-block;
		margin-bottom: 0.5rem;
	}
	.control-group {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	h5{
		font-size: 1.1rem;
		width: 100%;
		clear: both;
		display: block;
	}
	.btn-link ,
	.btn-primary {
		color: #fff;
		background-color: #000;
		border-color: #000;
	}
	.btn-link:hover,
	.btn-primary:hover {
		color: #fff;
		background-color: #E6007E;
		border-color: #E6007E;
	}
	.radio input {
		position:relative;
		visibility: visibility;
	}
	#form-address,
	#editar-perfil-conteudo {
		background: #fff;
		width: 80%;
		padding: 15px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
}
#address-edit.fade.in,
#editar-perfil.fade.in,
.modal-backdrop.fade.in {
	opacity: 1;
}